<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwh.kfr.dao.IUserDao">

    <resultMap id="UserMap" type="com.hwh.kfr.model.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="nikeName" property="nikeName" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="idcard" property="idcard" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="superiors_id" property="superiors_id" jdbcType="INTEGER"/>
        <result column="certifiedStatus" property="certifiedStatus" jdbcType="INTEGER"/>
        <association property="mainData" javaType="com.hwh.kfr.model.MainData">
            <id property="mid" column="mid"></id>
            <result property="availableQuota" column="availableQuota"></result>
            <result property="availableBalance" column="availableBalance"></result>
            <result property="pool" column="pool"></result>
            <result property="uid" column="uid"></result>
        </association>
    </resultMap>

    <resultMap id="AllInfoMap" type="com.hwh.kfr.model.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="idcard" property="idcard" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <association property="mainData" javaType="com.hwh.kfr.model.MainData">
            <id property="mid" column="mid"></id>
            <result property="availableQuota" column="availableQuota"></result>
            <result property="availableBalance" column="availableBalance"></result>
            <result property="pool" column="pool"></result>
            <result property="uid" column="uid"></result>
        </association>

        <collection property="inferior" ofType="com.hwh.kfr.model.Inferior">
            <id property="id" column="id"></id>
            <result property="phone" column="phone"></result>
            <result property="nikeName" column="nikeName"></result>
        </collection>

    </resultMap>

    <select id="findUserById" resultMap="UserMap" parameterType="integer">
        select u.*,m.*
        from kfr_user u,kfr_maindata m
        <where>
            and u.id = #{id} and m.uid = #{id}
        </where>
    </select>

    <select id="findUserByPhone" resultType="com.hwh.kfr.model.User" parameterType="string">
        select * from kfr_user where phone = #{phone}
    </select>

    <select id="findUserByUsername" resultType="com.hwh.kfr.model.User" parameterType="string">
        select *
        from kfr_user u
        <where>
            and u.username = #{username}
        </where>
    </select>

    <select id="findUserByUsernameAndPassword" resultMap="UserMap" parameterType="string">
        select *
        from kfr_user u,kfr_maindata m
        <where>
            and u.username = #{username} and u.password = #{password} and u.id = m.uid
        </where>
    </select>

    <!--查找所有下级-->
    <select id="findInferiorUsername" resultType="com.hwh.kfr.model.Inferior" parameterType="string">
       SELECT K2.id,K2.nikeName,K2.phone FROM kfr_user K1,kfr_user K2 WHERE K1.id = K2.`superiors_id` AND K1.username = #{username}
    </select>


    <insert id="addUser" parameterType="com.hwh.kfr.model.User">
        insert into kfr_user(nikeName,username,password,idcard,phone,superiors_id)
        values (#{nikeName},#{username},#{password},#{idcard},#{phone},#{superiors_id});
    </insert>

    <select id="findAllUser" resultMap="UserMap">
        select * from kfr_user,kfr_maindata;
    </select>

    <!--<update id="updateUser" parameterType="com.hwh.kfr.model.User">
        update kfr_user set
    </update>-->


</mapper>